html, body {
    height: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

#media {
    max-height: 100%;
    max-width: 100%;
}
