html, body {
    height: 100%;
}

select {
    background-color: #444 !important;
    overflow: hidden;
    border-radius: 0 !important;
}

select:focus, select:active, select:hover {
    outline: none !important;
    box-shadow: none !important;
    border-color: none !important;
}

option {
    background-color: #888 !important;
    border-bottom: solid 1px black;
}